@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    text-decoration: none;
}

input:focus,
textarea:focus {
    outline: none;
}

/* @font-face {
    font-family: ;
    src: url();
} */

.slick-next {
    right: 0;
    z-index: 9999;
}

.slick-prev {
    left: 0;
    z-index: 9999
}

.slick-arrow {
    width: 36px;
    height: 36px;
}

.slick-prev::before,
.slick-next::before {
    width: 55px;
    font-size: 36px;
    height: 55px;
    line-height: 55px;
    color: #fff;
}

.testimonial .slick-dots li button::before {
    font-size: 10px;
}

.testimonial .slick-dots li {
    margin: 0;
}

.line {
    position: relative;
}

.line::after {
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: ease-in-out all 200ms
}

.line:hover::after {
    width: 100%;
    left: 0;
    opacity: 1;
}